.footer {
    &-head {
        position: relative;
        margin-top: 0;
        margin-bottom: 80px;
        .inner {
            display: flex;
            margin: auto;
            position: relative;
            background-color: #f6f8fb;
            &-column {
                width: 100%;
                &__wrap {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
                    padding: 70px 30px 40px;
                    background-color: #f6f8fb;
                    .heading-title {
                        color: var( --accent);
                        font-size: 30px;
                        text-transform: none;
                        line-height: 30px;
                        padding: 0 0 15px;
                        margin: 0;
                        @media(max-width: 1024px) {
                            font-size: 42px;
                            line-height: 46px;
                        }
                    }
                    .form-subscribe {
                        position: relative;
                        width: 100%;
                        margin-bottom: 30px;
                        .form-group {
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 0;
                            input {
                                min-height: 33px;
                                width: 100%;
                                max-width: 100%;
                                border: 1px solid #818a91;
                                padding: 13px 12px;
                                background-color: #fff;
                                border-width: 0;
                                border-radius: 3px 0 0 3px;
                                font-size: 16px;
                                line-height: 24px;
                                outline: 0;
                                color: var( --text_lighter);
                                @media(min-width: 768px) {
                                    width: 75%;
                                }
                                @media(min-width:768px) and (max-width:1024px) {
                                    width: 60%;
                                }
                            }
                            .btn-subscribe {
                                color: #fff;
                                border-radius: 0 3px 3px 0;
                                padding: 13px 0;
                                min-height: 40px;
                                &::after {
                                    display: none;
                                }
                                @media(min-width:768px) {
                                    width: 25%;
                                }
                                @media(min-width:768px) and (max-width:1024px) {
                                    width: 40%;
                                }
                                @media(max-width:767px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    @media(max-width:1024px) {
                        padding: 60px 30px 40px;
                    }
                    @media(max-width:767px) {
                        padding: 60px 16px 30px 15px;
                    }
                }
                .customer-contact {
                    padding: 70px 30px 70px 65px;
                    justify-content: space-between;
                    background-color: #edf1f4;
                    .customer-wrap {
                        display: flex;
                        margin: auto;
                        position: relative;
                        width: 100%;
                        &__inner {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: flex-start;
                            .item {
                                text-align: left;
                                width: auto;
                                transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-box-shadow .3s;
                                &:not(:first-child) {
                                    margin: 0 0 0 -10px;
                                }
                                a {
                                    display: inline-block;
                                    img {
                                        width: 54px;
                                        filter: brightness( 90%) contrast( 100%) saturate( 0%) blur( 0px) hue-rotate( 0deg);
                                        transition: all .3s;
                                        &:hover,
                                        &:focus {
                                            position: relative;
                                            z-index: 1;
                                            transform: scale(1.1);
                                            filter: none;
                                        }
                                    }
                                }
                            }
                            .btn-chat {
                                background-color: var( --e-global-color-secondary);
                                border-style: solid;
                                border-width: 0;
                                padding: 12px 28px;
                                span {
                                    align-items: center;
                                    text-align: center;
                                    position: relative;
                                    z-index: 2;
                                }
                            }
                            @media(min-width: 768px) {
                                width: 50%;
                            }
                            @media(min-width:768px) and (max-width:1200px) {
                                width: 70%;
                            }
                            @media(min-width:768px) and (max-width:880px) {
                                width: 75%;
                            }
                        }
                        @media(max-width:1024px) {
                            flex-wrap: wrap;
                        }
                    }
                    .column-wrap__inner {
                        @media(min-width: 768px) {
                            width: 50%;
                        }
                    }
                    @media(max-width:1024px) {
                        padding: 60px 30px;
                    }
                    @media(max-width:767px) {
                        padding: 60px 15px;
                    }
                }
                @media(min-width: 768px) {
                    width: 50%;
                }
            }
            @media(max-width:1024px) {
                flex-wrap: wrap;
            }
        }
        @media(max-width:1024px) {
            margin-top: 0;
            margin-bottom: 60px;
        }
    }
    &-middle {
        margin-top: 0;
        margin-bottom: 80px;
        padding: 0 30px;
        .footer-title {
            position: relative;
            padding: 0 0 25px;
            transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-box-shadow .3s;
            .heading-title {
                color: #000000;
                font-family: "Jost", sans-serif;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 16px;
            }
        }
        .list-items {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .list-item {
                width: 100%;
                &:not(:last-child) {
                    padding-bottom: calc(14px/2);
                }
                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: inherit;
                    .list-text {
                        display: inline-block;
                        color: var(--text_lighter);
                    }
                    &:hover {
                        .list-text {
                            color: var(--primary);
                        }
                    }
                }
            }
            @media(max-width:767px) {
                margin: 0 0 40px;
            }
        }
        .footer-logo {
            position: relative;
            padding: 0 0 20px;
            text-align: right;
            a {
                display: flex;
                justify-content: flex-end;
                @media(max-width: 767px) {
                    justify-content: flex-start;
                }
            }
        }
        .footer-address,
        .footer-phone,
        .footer-mail {
            padding: 0 0 10px;
            text-align: right;
            a {
                color: var(--text);
            }
            @media(max-width:767px) {
                text-align: left;
            }
        }
        .footer-phone {
            a {
                font-family: jost, Sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: var(--primary);
            }
        }
        @media(max-width:1024px) {
            margin-top: 0;
            margin-bottom: 60px;
        }
        @media(max-width:767px) {
            margin-top: 0;
            margin-bottom: 45px;
            padding: 0 15px;
        }
        @media(max-width:576px) {
            padding: 0;
        }
    }
    &-bottom {
        position: relative;
        padding: 0 30px;
        .inner {
            border-style: dashed;
            border-width: 1px 0 0;
            border-color: #dee1e7;
            transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
            padding: 45px 20px 45px 0;
            align-content: center;
            align-items: center;
            p {
                padding: 0;
                margin: 0;
            }
            @media(max-width:880px) {
                padding: 30px 20px 30px 0;
            }
            @media(max-width:767px) {
                padding: 20px 0 5px;
            }
        }
        .inline-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .inline-item {
                margin: 0 8px;
                a {
                    color: var(--text_lighter);
                    text-decoration: underline;
                }
            }
            @media(max-width:767px) {
                justify-content: flex-start;
            }
        }
        .social-icon {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            .grid-item {
                display: inline-block;
                margin-bottom: 0;
                a {
                    background-color: #e46d3000;
                    border-radius: 50%;
                    position: relative;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 1px dashed var(--border);
                        border-radius: 50%;
                    }
                    i {
                        width: 1em;
                        height: 1em;
                        position: relative;
                        display: block;
                        color: var(--text_lighter);
                    }
                }
                &:not(:first-child) {
                    margin-left: 6px;
                }
            }
            @media(max-width:767px) {
                justify-content: flex-start;
            }
        }
        @media(max-width:767px) {
            padding: 0 15px 30px;
            .row {
                &>div {
                    &:not(:first-child) {
                        .inner {
                            padding: 0 0 5px;
                        }
                    }
                }
            }
        }
        @media(max-width:576px) {
            padding: 0 0 30px;
        }
    }
}

.scrollup {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-decoration: none;
    background: var(--primary);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0 0 0 / 40%);
    transform: scale(0);
    z-index: 999;
    text-align: center;
    font-size: 20px;
    transition: all ease .35s;
    &.activate {
        transform: scale(1);
    }
    i {
        margin-top: -5px;
        color: #fff;
    }
}